<div [class]="containerClass">
  @if (title()) {
    <div class="card-header">
      <ng-container *ngTemplateOutlet="title()" />
      @if (subtitle()) {
        <ng-container *ngTemplateOutlet="subtitle()" class="card-subtitle" />
      }
    </div>
  }

  @if (content()) {
    <div class="card-body">
      <ng-container *ngTemplateOutlet="content()" />
    </div>
  } @else {
    <div class="card-body">
      <ng-content />
    </div>
  }

  @if (actions()) {
    <div class="card-footer">
      <ng-container *ngTemplateOutlet="actions()" />
    </div>
  }}
</div>
