<div class="forgot-password-container">
  <div class="forgot-password-card">
    <div class="card-header">
      <mat-icon class="header-icon">lock_reset</mat-icon>
      <h1>Forgot Password?</h1>
      <p>Enter your email address and we'll send you a link to reset your password.</p>
    </div>

    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()" class="forgot-password-form">
      <div class="form-field">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Email Address</mat-label>
          <input
            matInput
            type="email"
            formControlName="email"
            placeholder="Enter your email address"
            autocomplete="email">
          <mat-error *ngIf="f['email'].invalid && f['email'].touched">
            <ng-container *ngIf="f['email'].errors?.['required']">
              Email is required
            </ng-container>
            <ng-container *ngIf="f['email'].errors?.['email']">
              Please enter a valid email address
            </ng-container>
            <ng-container *ngIf="f['email'].errors?.['maxlength']">
              Email cannot exceed 255 characters
            </ng-container>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="form-actions">
        <button
          type="submit"
          mat-raised-button
          color="primary"
          [disabled]="forgotPasswordForm.invalid || isLoading"
          class="submit-button">
          <mat-icon *ngIf="!isLoading">send</mat-icon>
          <mat-icon *ngIf="isLoading" class="spinning">refresh</mat-icon>
          <span class="button-text">Send Reset Link</span>
        </button>
      </div>
    </form>

    <div class="card-footer">
      <p>Remember your password?
        <a routerLink="/auth/login" class="link">Back to Login</a>
      </p>
    </div>
  </div>
</div>